In [17]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [18]:
cyclists_df = pd.read_csv('../dataset/cyclists_clustering.csv')
races_df = pd.read_csv('../dataset/races_clustering.csv')

In [19]:
cyclists_df.head()

,_url,name,birth_year,weight,height,nationality,categorical_height,BMI,continent,cyclist_win,strength_idx,best_position,best_position_std,career_years,km_per_year
0,bruno-surra,Bruno Surra,1964,NaN,NaN,Italy,NaN,NaN,Europe,0.0,803.000000,110.0,NaN,0.00274,7300.00
1,gerard-rue,Gérard Rué,1965,74.0,182.0,France,5.0,Normal weight,Europe,0.0,1802.473373,5.0,39.150599,3011.00274,9.97
2,jan-maas,Jan Maas,1996,69.0,189.0,Netherlands,7.0,Normal weight,Europe,0.0,775.122449,21.0,30.177395,518.00274,15.84
3,nathan-van-hooydonck,Nathan Van Hooydonck,1995,78.0,192.0,Belgium,7.0,Normal weight,Europe,0.0,1052.086957,7.0,37.507462,1981.00274,14.10
4,jose-felix-parra,José Félix Parra,1997,55.0,171.0,Spain,3.0,Normal weight,Europe,0.0,784.895833,23.0,38.205491,720.00274,10.29

In [20]:
races_df.head()

,_url,name,birth_year,weight,height,nationality,categorical_height,BMI,continent,cyclist_win,strength_idx,best_position,best_position_std,career_years,km_per_year
0,bruno-surra,Bruno Surra,1964,NaN,NaN,Italy,NaN,NaN,Europe,0.0,803.000000,110.0,NaN,0.00274,7300.00
1,gerard-rue,Gérard Rué,1965,74.0,182.0,France,5.0,Normal weight,Europe,0.0,1802.473373,5.0,39.150599,3011.00274,9.97
2,jan-maas,Jan Maas,1996,69.0,189.0,Netherlands,7.0,Normal weight,Europe,0.0,775.122449,21.0,30.177395,518.00274,15.84
3,nathan-van-hooydonck,Nathan Van Hooydonck,1995,78.0,192.0,Belgium,7.0,Normal weight,Europe,0.0,1052.086957,7.0,37.507462,1981.00274,14.10
4,jose-felix-parra,José Félix Parra,1997,55.0,171.0,Spain,3.0,Normal weight,Europe,0.0,784.895833,23.0,38.205491,720.00274,10.29

In [21]:
cyclists_numerical_cols = ['birth_year', 'cyclist_win', 'strength_idx', 'best_position', 'best_position_std', 'career_years', 'km_per_year']
races_numerical_cols = ['']

In [22]:
scaler = StandardScaler()