In [23]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [24]:
cyclists_df = pd.read_csv('../dataset/cyclists_clustering.csv')
races_df = pd.read_csv('../dataset/races_clustering.csv')

In [ ]:
races_numerical_cols = ['points', 'length', 'climb_total', 'startlist_quality']

## Cyclist Dataset

In [29]:
cyclists_numerical_cols = ['birth_year', 'cyclist_win', 'strength_idx', 'best_position', 'best_position_std', 'career_years', 'km_per_year'] # without height and weight
numeric_dataset = cyclists_df[cyclists_numerical_cols]

numeric_dataset.head()

,birth_year,cyclist_win,strength_idx,best_position,best_position_std,career_years,km_per_year
0,1964,0,803.000000,110,0.000000,0.00274,7300.00
1,1965,0,1802.473373,5,39.150599,3011.00274,9.97
2,1996,0,775.122449,21,30.177395,518.00274,15.84
3,1995,0,1052.086957,7,37.507462,1981.00274,14.10
4,1997,0,784.895833,23,38.205491,720.00274,10.29

In [30]:
scaler = StandardScaler()
scaler.fit(numeric_dataset)
X = scaler.transform(numeric_dataset)

In [32]:
pd.DataFrame(scaler.inverse_transform(scaler.transform(numeric_dataset)), columns=numeric_dataset.columns)

,birth_year,cyclist_win,strength_idx,best_position,best_position_std,career_years,km_per_year
0,1964.0,0.0,803.000000,110.0,0.000000,0.00274,7300.00
1,1965.0,0.0,1802.473373,5.0,39.150599,3011.00274,9.97
2,1996.0,0.0,775.122449,21.0,30.177395,518.00274,15.84
3,1995.0,0.0,1052.086957,7.0,37.507462,1981.00274,14.10
4,1997.0,0.0,784.895833,23.0,38.205491,720.00274,10.29
...,...,...,...,...,...,...,...
4698,1982.0,0.0,1220.000000,4.0,59.640392,21.00274,150.17
4699,1998.0,0.0,676.653846,28.0,31.586292,1139.00274,3.99
4700,1973.0,0.0,792.000000,132.0,0.000000,0.00274,46720.00
4701,1985.0,0.0,927.392857,1.0,42.343997,1848.00274,10.52
4702,1999.0,0.0,741.777778,32.0,28.460987,744.00274,2.56